{% extends 'index.html' %}
{% block title%} Travel Dashboard {% endblock %}
{% block buttons%}{% endblock %}
{% block wallpaper%}style="background-image: url(https://c.wallhere.com/photos/7d/b6/snow_mist_fog_road_tracks_moors_saddleworthmoor_sigma1020mm-771880.jpg!d); background-size:cover; background-repeat:no-repeat;"{% endblock %}

{% block content %}
            <div class="row justify-content-between text-start my-3">
                <h2>Hello: <span class="fw-bold">{{user.nickname}}!!</span></h2>
                <hr>
                <div class='col-12'>
                    <h1 class='fs-1 my-3'>Your Trip Schedules</h1>
                    <table class="table table-transparent table-hover my-5 text-center">
                        <thead>
                            <tr>
                            <th scope="col">Destination</th>
                            <th scope="col">Travel Start Date</th>
                            <th scope="col">Travel End Date</th>
                            <th scope="col">Plan</th>
                            <th scope="col">Cancel</th>
                            <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody class="overflow-scroll">
                            {% for travel in mytravels %}
                            <tr>
                            <td><a href="/travels/destination/{{travel.id}}" style="text-decoration:None">{{travel.destination}}</a></td>
                            <td>{{travel.start_date}}</td>
                            <td>{{travel.end_date}}</td>
                            <td>{{travel.description}}</td>
                            <td><a href="#" data-href="/cancel/{{travel.id}}" title="Cancel" class="lnk-del btn btn-outline-danger" data-title="delete" data-bs-toggle="modal" data-bs-target="#confirm-cancel"><i class="fas fa-user-times"></i></a></td>
                            <!-- separar botones si es usuario o creador -->
                            {% if travel.creator.id != request.session.user.id %}
                            {% else %}
                            <td><a href="#" data-href="/delete/{{travel.id}}" title="Destroy" class="lnk-del btn btn-outline-danger" data-title="delete" data-bs-toggle="modal" data-bs-target="#confirm-delete"><i class="fas fa-calendar-times"></i></a></td>
                            {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class='col-12'>
                    <h1 class='fs-1 my-3'>Other User's Travel Plans</h1>
                    <table class="table table-transparent table-hover my-5 text-center">
                        <thead>
                            <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Travel Start Date</th>
                            <th scope="col">Travel End Date</th>
                            <th scope="col">Do you Want to Join?</th>
                            </tr>
                        </thead>
                        <tbody class="overflow-scroll">
                            {% for othertravel in othertravels %}
                            {% if othertravel not in traveler.travels.all %}
                            <tr>
                            <td>{{othertravel.creator.nickname}}</td>
                            <td><a href="/travels/destination/{{othertravel.id}}" style="text-decoration:None">{{othertravel.destination}}</a></td>
                            <td>{{othertravel.start_date}}</td>
                            <td>{{othertravel.end_date}}</td>
                            <td><a href="#" data-href="/join/{{othertravel.id}}" title="Join" class="lnk-del btn btn-outline-success" data-title="join" data-bs-toggle="modal" data-bs-target="#confirm-join"><i class="fas fa-user-check"></i></a></td>
                            </tr>
                            {% else %}
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                    <div class="row justify-content-end">
                        <div class="col-auto text-end">
                            <h5><a href="/travels/add" class="btn btn-outline-primary"> Add Travel Plan  </a></h5>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}