{% extends 'index.html' %}
{% block title%} Book and Reviews {% endblock %}
{% block buttons %}<a class="btn btn-outline-primary mx-1" href="/travels">Home</a>{% endblock%}

{% block wallpaper%}style="background-image: url(https://c.wallhere.com/photos/7d/b6/snow_mist_fog_road_tracks_moors_saddleworthmoor_sigma1020mm-771880.jpg!d); background-size:cover; background-repeat:no-repeat;"{% endblock %}

{% block content %}
            <div class="row justify-content-between text-start my-3">
                <h2>Destination: <span class="fw-bold">{{travel.destination}}</span></h2>
                <hr>
                <div class="col-6">
                    <div class="card mb-2 bg-transparent border-warning rounded-0" style="max-width: 100%">
                        <div class="row g-0 align-items-center">
                            <div class="col-md-3 p-3">
                                <img src="{{travel.creator.avatar}}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <p class="card-title">Planed by: <span class="fw-bold">{{travel.creator.nickname}}</span></a>
                                    <p>Description: <span class="fw-bold">{{travel.description}}</span></p>
                                    <p>Travel Date From: <span class="fw-bold">{{travel.start_date}}</span></p>
                                    <p>Travel Date To: <span class="fw-bold">{{travel.end_date}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-6">    
                    <h5 class="fw-bold">Other user's joining the trip:</h5>
                    <div class="row justify-content-center text-start" data-bs-spy="scroll" style="height: 15rem; overflow-y: scroll" id="actions">
                        <div class="col-12">
                            {% for travelers in travelers %}
                            <ul class="mt-3">
                                <li>{{travelers.information.nickname}}</li>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}